/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans-Bold/PTSans-Bold.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/PTSans-Bold/PTSans-Bold.woff') format('woff'), 
  url('../fonts/PTSans-Bold/PTSans-Bold.ttf')  format('truetype'), 
  url('../fonts/PTSans-Bold/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@mixin before-img($width, $height) {
	content: '';
	display: block;
	position: absolute;
	width: $width;
	height: $height;
}
@mixin clear-both {
	content: '';
	display: table;
	clear: both
}
a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
.inline-middle {
	display: inline-block;
	vertical-align: middle;
}
.inline-normal {
	display: inline-block;
	vertical-align: baseline;
}
$my-color: #333333;
.wrapper {
	max-width: 720px;
	min-width: 320px;
	margin: 0 auto;
	padding: 2%;
}
.header {
	display: flex;
	justify-content:flex-start;
}
.header__photo {
	width: 25%;
}
.header__img {
	display: block;
}
.header-information {
	width: 75%;
	padding: 10px 0 10px 10px;
	box-sizing: border-box;
}
.header__human-name {
	color: $my-color;
	font: bold 16px Arial;
	margin: 0;
}
.header__human-status {
	color: #808080;
	font: 12px Arial;
	margin: 5px 0;
}
.header__human-about {
	position: relative;
	border: 1px solid #cecabf;
	background: #fffbc8;
	padding: 11px 10px 11px 0;
	box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    margin-top: 10px;
	&:before {
		@include before-img(30%, calc(100% + 2px));
		top: -1px;
		left: -30%;
		border: 1px solid #cecabf;
		background: #fffbc8;
		border-top-left-radius: 5px;
    	border-bottom-left-radius: 5px;
    	box-sizing: border-box;
    	border-right: 0;
    	z-index: -1;
	}
}
.header__human-about-text {
	color: $my-color;
	font: 14px Arial;
	margin: 0;
}
.service {
	display: flex;
	justify-content: flex-end;
}
.service__table {
	width: 75%;
	padding-left: 10px;
	box-sizing: border-box;
}
.service__head {

}
.service__head-cell {
	text-align: left;
	font: 13px Arial;
	color: $my-color;
	padding: 10px 5px;
	border-bottom: 1px solid #cccccc;
	&:first-child {
		width: 80%;
	}
	&:last-child {
		width: 20%;
	}
}
.service__body {

}
.service__body-line {

}
.service__body-cell {
	text-align: center;
	font: bold 13px Arial;
	color: $my-color;
	padding: 2px 0;	
}
.service__body_text {
	position: relative;
	text-align: left;
	font-weight: normal;
	margin: 0;
	padding: 4px 5px;
	border-left: 1px solid rgba(#000, .4);
}
.table-bg-color1 {
	&:before {
		@include before-img(80%, 100%);
		top: 0;
		left: 0;
		background: #b1e19b;
		z-index: -1;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}
.table-bg-color2 {
	&:before {
		@include before-img(40%, 100%);
		top: 0;
		left: 0;
		background: #ace2f8;
		z-index: -1;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}
.table-bg-color3 {
	&:before {
		@include before-img(20%, 100%);
		top: 0;
		left: 0;
		background: #ace2f8;
		z-index: -1;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}
.service__foot-cell {
	border-top: 1px solid #ccc;
	padding: 15px 0;
	color: $my-color;
	font: bold 16px Arial;
	text-align: left;
}
.service__foot-cell_center {
	text-align: center;
}
.main-comment {

}
.last-comm-top {
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
}
.b-last-comm {
	
}
.b-last-comm__title {
	color: $my-color;
	font: bold 16px Arial;
	margin: 0 10px 0 0;
}
.b-last-comm__link {
	color: #005da1;
	font: 14px Arial;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
.b-comm-icons {

}
.b-comm-icons__like {
	margin: 0 15px 0 0;
	color: $my-color;
	font: 12px Arial;
	position: relative;
	padding-left: 17px;
	&:before {
		@include before-img(12px, 11px);
		background: url(../images/likeIco.jpg) no-repeat;
		top: calc(50% - 5.5px);
		left: 0;
	}
}
.b-comm-icons__number {
	margin: 0;
	color: $my-color;
	font: 12px Arial;
	position: relative;
	padding-left: 17px;
	&:before {
		@include before-img(13px, 13px);
		background: url(../images/commentIco.jpg) no-repeat;
		top: calc(50% - 6.5px);
		left: 0;
	}
}
.all-comment {

}
.b-comment-line {
	margin: 15px 0;
}
.b-comment-line__top {

}
.b-comment-line__name {
	color: $my-color;
	font: bold 14px Arial;
	margin: 0;
}
.b-comment-line__time {
	color: #808080;
	font: 11px Arial;
	margin: 0;
}
.b-comment-line__note {
	margin-top: 15px;
	padding: 10px 15px;
	box-sizing: border-box;
	background: #f2fbff;
	border: 1px solid #cfcfcf;
	position: relative;
	box-shadow: 0px 2px 19px -6px rgba(0,0,0,0.5);
	&:before {
		@include before-img(9px, 10px);
		background: url(../images/commentArrow.jpg) no-repeat;
		top: -10px;
		left: 10%;
	}
}
.b-comment-line__note-text {
	color: $my-color;
	font: 14px Arial;
	margin: 5px;
}
.footer {
	background: #f2f2f2;
	padding: 30px 0;
}
.foot-form {

}
.foot-form__textarea {
	resize: none;
	width: 100%;
	box-sizing: border-box;
	min-height: 80px;
	padding: 15px;
	color: $my-color;
	font: 14px Arial;
	border: 1px solid #a9a9a9;
	outline: 0;
}
.foot-form__send {
	border: 0;
	outline: 0;
	color: $my-color;
	display: flex;
	margin: 20px auto 0 auto;
	font: 16px 'PTSans-Bold';
	background: #fdd639;
    padding: 12px 60px;
    border-radius: 30px;
}

@media only screen and (max-width : 520px) {

.header__photo {
	width: auto;
	text-align: center;
}
.header__img {
	width: auto;
	margin: 0 auto;
}
.header {
    flex-direction: column;
}
.header-information {
	width: 100%;
	text-align: center;
}
.service__table {
	width: 100%;
	box-sizing: content-box;
}
.header-human-about {
	text-align: left;
}
.main-comment {
	margin-top: 20px;
}
}
@media only screen and (max-width : 400px) {

.b-last-comm__link  {
	display: block;
	margin-top: 10px;
}
}